# Song Challenge
## Goal
Company XYZ is a very early stage startup. They allow people to stream music from their mobile
for free. Right now, they still only have songs from the Beatles in their music collection, but they
are planning to expand soon.
They still have all their data in json files and they are interested in getting some basic info about
their users as well as building a very preliminary song recommendation model in order to
increase user engagement.
Working with 􀁑son files is important􀀕 􀀰f you join a very early stage start-up, they might not have a
nice database and all data will be in jsons. Third party data are often stored in json files as well.
## Challenge Description
You are the fifth employee at company XYZ. The good news is that if the company becomes
big, you will become very rich with the stocks. The bad news is that, at such an early stage, the
data is usually very messy. All their data is stored in json files.
The company CEO asked you very specific questions:

#### 1-What are the top 3 and the bottom 3 states in terms of number of users?
#### 2-What are the top 3 and the bottom 3 states in terms of user engagement? You can choose how to mathematically define user engagement. What the CEO cares about here is in which states users are using the product a lot/very little.
#### 3-The CEO wants to send a gift to the first user who signed-up for each state. That is, the first user who signed-up from California, from Oregon, etc. Can you give him a list of those users?
#### 4-Build a function that takes as an input any of the songs in the data and returns the most likely song to be listened next. That is, if, for instance, a user is currently listening to "Eight Days A Week", which song has the highest probability of being played right after it by the same user? This is going to be v1 of a song recommendation model.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
song = pd.read_json('song.json')

In [4]:
song.head()

,id,user_id,user_state,user_sign_up_date,song_played,time_played
0,GOQMMKSQQH,122,Louisiana,2015-05-16,Hey Jude,2015-06-11 21:51:35
1,HWKKBQKNWI,3,Ohio,2015-05-01,We Can Work It Out,2015-06-06 16:49:19
2,DKQSXVNJDH,35,New Jersey,2015-05-04,Back In the U.S.S.R.,2015-06-14 02:11:29
3,HLHRIDQTUW,126,Illinois,2015-05-16,P.s. I Love You,2015-06-08 12:26:10
4,SUKJCSBCYW,6,New Jersey,2015-05-01,Sgt. Pepper's Lonely Hearts Club Band,2015-06-28 14:57:00

In [6]:
song.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4000 non-null   object
 1   user_id            4000 non-null   int64
 2   user_state         4000 non-null   object
 3   user_sign_up_date  4000 non-null   object
 4   song_played        4000 non-null   object
 5   time_played        4000 non-null   object
dtypes: int64(1), object(5)
memory usage: 187.6+ KB

In [7]:
song.describe()

           user_id
count  4000.000000
mean    101.574000
std      58.766835
min       1.000000
25%      48.000000
50%     102.000000
75%     155.000000
max     200.000000

In [9]:
for col in song.columns:
    print(song[col].value_counts())

id
RFNSPZLYYC    1
PGKFYSWGYC    1
GZWDHMNTML    1
EHKNWVHOWT    1
VLKFPMHZUG    1
             ..
SUKJCSBCYW    1
HLHRIDQTUW    1
DKQSXVNJDH    1
HWKKBQKNWI    1
GOQMMKSQQH    1
Name: count, Length: 4000, dtype: int64
user_id
42     52
98     45
49     44
193    43
55     42
       ..
8       2
50      2
129     1
63      1
21      1
Name: count, Length: 196, dtype: int64
user_state
New York          469
California        425
Texas             230
Ohio              209
Florida           180
Pennsylvania      179
North Carolina    154
Illinois          149
Georgia           135
Missouri          127
New Jersey        117
Maryland          112
Louisiana         105
Alabama           104
Tennessee         102
Wisconsin          95
Massachusetts      91
Mississippi        85
South Carolina     85
Michigan           80
Kentucky           78
Oregon             62
Alaska             58
Indiana            55
Colorado           54
Oklahoma           49
Minnesota          42
Washington         41
West Virginia      38
Utah               38
Nebraska           36
Arkansas           34
Rhode Island       27
North Dakota       26
Idaho              26
Iowa               23
Arizona            22
New Mexico         17
Virginia           17
Connecticut        16
Kansas              8
Name: count, dtype: int64
user_sign_up_date
2015-05-19    532
2015-05-20    470
2015-05-02    388
2015-05-16    358
2015-05-04    353
2015-05-08    273
2015-05-12    239
2015-05-07    230
2015-05-18    180
2015-05-09    150
2015-05-17    147
2015-05-14    145
2015-05-06    124
2015-05-01    122
2015-05-10     72
2015-05-03     67
2015-05-15     50
2015-05-11     44
2015-05-13     43
2015-05-05     13
Name: count, dtype: int64
song_played
Come Together                          408
Revolution                             321
Get Back                               279
A Day In The Life                      189
Let It Be                              184
                                      ...
When I'm 64                              3
A Saturday Club Xmas/Crimble Medley      2
THE CONTINUING STORY OF BUNG             2
You're Going To Lose That Girl           2
I'm Down                                 2
Name: count, Length: 97, dtype: int64
time_played
2015-06-06 08:42:20    2
2015-06-15 13:23:02    2
2015-06-25 20:04:25    2
2015-06-25 05:27:55    1
2015-06-25 18:13:41    1
                      ..
2015-06-25 12:23:05    1
2015-06-15 13:53:01    1
2015-06-20 17:15:18    1
2015-06-03 09:57:02    1
2015-06-28 21:44:20    1
Name: count, Length: 3997, dtype: int64

In [10]:
song['time_played'] = pd.to_datetime(song['time_played'])
song['user_sign_up_date'] = pd.to_datetime(song['user_sign_up_date'])

First question :
1-What are the top 3 and the bottom 3 states in terms of number of users?

In [11]:
users_per_state = song.groupby('user_state')['user_id'].nunique().sort_values(ascending=False)

In [12]:
print("TOP 3 STATES :")
top_3 = users_per_state.head(3)
for i, (state, count) in enumerate(top_3.items(), 1):
    print(f"{i}. {state}: {count} users")

TOP 3 STATES:
1. New York: 23 users
2. California: 21 users
3. Texas: 15 users

In [13]:
print("BOTTOM 3 STATES :")
bottom_3 = users_per_state.tail(3)
for i, (state, count) in enumerate(reversed(list(bottom_3.items())), 1):
    print(f"{i}. {state}: {count} users")

BOTTOM 3 STATES :
1. North Dakota: 1 users
2. Rhode Island: 1 users
3. Nebraska: 1 users

Second question :
2-What are the top 3 and the bottom 3 states in terms of user engagement? You can choose how to mathematically define user engagement. What the CEO cares about here is in which states users are using the product a lot/very little.

In [14]:
engagement_by_state = song.groupby('user_state').agg({
    'user_id': 'nunique',  # number of users
    'song_played': 'count'  # total songs played
}).reset_index()

In [15]:
engagement_by_state['avg_songs_per_user'] = engagement_by_state['song_played'] / engagement_by_state['user_id']

In [16]:
engagement_sorted = engagement_by_state.sort_values('avg_songs_per_user', ascending=False)

In [17]:
print("TOP 3 STATES :")
top_3_engagement = engagement_sorted.head(3)
for i, row in enumerate(top_3_engagement.itertuples(), 1):
    print(f"{i}. {row.user_state}: {row.avg_songs_per_user:.1f} songs per user ({row.user_id} users, {row.song_played} total plays)")

TOP 3 STATES :
1. Nebraska: 36.0 songs per user (1 users, 36 total plays)
2. Alaska: 29.0 songs per user (2 users, 58 total plays)
3. Mississippi: 28.3 songs per user (3 users, 85 total plays)

In [18]:
print("BOTTOM 3 STATES :")
bottom_3_engagement = engagement_sorted.tail(3)
for i, row in enumerate(reversed(list(bottom_3_engagement.itertuples())), 1):
    print(f"{i}. {row.user_state}: {row.avg_songs_per_user:.1f} songs per user ({row.user_id} users, {row.song_played} total plays)")

BOTTOM 3 STATES :
1. Kansas: 8.0 songs per user (1 users, 8 total plays)
2. Virginia: 8.5 songs per user (2 users, 17 total plays)
3. Minnesota: 10.5 songs per user (4 users, 42 total plays)

Third question : 3-The CEO wants to send a gift to the first user who signed-up for each state. That is, the first user who signed-up from California, from Oregon, etc. Can you give him a list of those users?

In [26]:
def find_first_user(song):
    idx = song['user_sign_up_date'].idxmin()
    return song.loc[idx, ['user_id', 'user_sign_up_date']]

In [28]:
first_users = song.groupby('user_state').apply(find_first_user, include_groups=False).sort_values(by='user_sign_up_date')

In [29]:
for state, row in first_users.iterrows():
    print(f"{state}: User {row['user_id']} (signed up: {row['user_sign_up_date']})")

Alabama: User 5 (signed up: 2015-05-01 00:00:00)
Texas: User 7 (signed up: 2015-05-01 00:00:00)
Oregon: User 1 (signed up: 2015-05-01 00:00:00)
Ohio: User 3 (signed up: 2015-05-01 00:00:00)
North Carolina: User 2 (signed up: 2015-05-01 00:00:00)
New Mexico: User 4 (signed up: 2015-05-01 00:00:00)
New Jersey: User 6 (signed up: 2015-05-01 00:00:00)
Pennsylvania: User 11 (signed up: 2015-05-02 00:00:00)
New York: User 19 (signed up: 2015-05-02 00:00:00)
Minnesota: User 8 (signed up: 2015-05-02 00:00:00)
Michigan: User 13 (signed up: 2015-05-02 00:00:00)
Massachusetts: User 15 (signed up: 2015-05-02 00:00:00)
Maryland: User 18 (signed up: 2015-05-02 00:00:00)
Mississippi: User 23 (signed up: 2015-05-02 00:00:00)
Georgia: User 20 (signed up: 2015-05-02 00:00:00)
Utah: User 29 (signed up: 2015-05-03 00:00:00)
Kentucky: User 34 (signed up: 2015-05-04 00:00:00)
California: User 39 (signed up: 2015-05-04 00:00:00)
Florida: User 41 (signed up: 2015-05-04 00:00:00)
Wisconsin: User 32 (signed up: 2015-05-04 00:00:00)
Illinois: User 45 (signed up: 2015-05-05 00:00:00)
Louisiana: User 50 (signed up: 2015-05-06 00:00:00)
West Virginia: User 60 (signed up: 2015-05-07 00:00:00)
Tennessee: User 70 (signed up: 2015-05-08 00:00:00)
South Carolina: User 64 (signed up: 2015-05-08 00:00:00)
Arkansas: User 78 (signed up: 2015-05-08 00:00:00)
Missouri: User 85 (signed up: 2015-05-09 00:00:00)
Arizona: User 105 (signed up: 2015-05-12 00:00:00)
Indiana: User 102 (signed up: 2015-05-12 00:00:00)
Alaska: User 106 (signed up: 2015-05-12 00:00:00)
Oklahoma: User 119 (signed up: 2015-05-16 00:00:00)
Nebraska: User 134 (signed up: 2015-05-16 00:00:00)
Washington: User 125 (signed up: 2015-05-16 00:00:00)
Connecticut: User 127 (signed up: 2015-05-16 00:00:00)
Virginia: User 142 (signed up: 2015-05-17 00:00:00)
North Dakota: User 135 (signed up: 2015-05-17 00:00:00)
Colorado: User 173 (signed up: 2015-05-19 00:00:00)
Kansas: User 177 (signed up: 2015-05-19 00:00:00)
Iowa: User 178 (signed up: 2015-05-19 00:00:00)
Idaho: User 165 (signed up: 2015-05-19 00:00:00)
Rhode Island: User 174 (signed up: 2015-05-19 00:00:00)